.sidebar {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    background-color: #e5e5e5;
}

.sidebar__header {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.company-logo img {
    height: 4rem;
}

.sidebar__options {
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.option {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    gap: 1em;
    color: #000;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    border-radius: 1em;
    transition: background 0.5s linear;
}

.sidebar__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logout {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 1em;
    gap: 1em;
    color: #000;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    border-radius: 1em;
    transition: background 0.5s linear;
}

.option:hover,
.logout:hover,
*[clicked] {
    background-color: #d5d5d5;
}
