.dismissal-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}
  
.dismissal-modal-content {
    background: white;
    padding: 2rem;
    overflow-y: auto;
    position: relative;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
  
.dismissal-modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
}

.close-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.dismissal-modal-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-group label {
    font-weight: 500;
}
  
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    border: 0.1rem solid rgba(102, 102, 102, 0.5);
}
  
.submit-btn {
    background: #004A98;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    width: 100%;
}
